openapi: 3.0.0
paths:
  /v1/explorer/chain/mempool:
    get:
      operationId: getMempool
      summary: ""
      description: Fetch transactions in memory pool
      parameters:
        - name: limit
          required: false
          in: query
          example: 25
          description: Transactions per page
          schema:
            type: number
        - name: page
          required: false
          in: query
          example: 0
          description: Page to show
          schema:
            type: number
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MempoolDTO"
      tags:
        - explorer
  "/v1/explorer/chain/search/{id}":
    get:
      operationId: searchChain
      summary: ""
      description: Search the blockhain for records
      parameters:
        - name: id
          required: true
          in: path
          example: f85dc71b11989c8bd479b41bb2a29da4856a8fd531a3d1789b4eab2390cf5b0e
          description: Search id, can be block_number | tx_hash | block_hash
          schema:
            type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchDTO"
      tags:
        - explorer
  "/v1/explorer/chain/block/{id}":
    get:
      operationId: getBlock
      summary: ""
      description: Get block data from block height
      parameters:
        - name: id
          required: true
          in: path
          example: "1008663"
          description: Search id, must be block_number
          schema:
            type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BlockDTO"
      tags:
        - explorer
  /v1/explorer/chain/block/outputs:
    get:
      operationId: getOutputsBlocks
      summary: ""
      description: Search for our outputs in last few blocks (up to 5 blocks), using
        provided address and viewkey.
      parameters:
        - name: address
          required: true
          in: query
          description: Address to check
          schema:
            type: string
        - name: viewkey
          required: true
          in: query
          description: Viewkey for the transaction
          schema:
            type: string
        - name: limit
          required: false
          in: query
          example: 5
          description: Blocks to check
          schema:
            type: number
        - name: mempool
          required: false
          in: query
          example: 1
          description: Check mempool
          schema:
            type: number
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BlockOutputsDTO"
      tags:
        - explorer
  "/v1/explorer/chain/block/raw/{id}":
    get:
      operationId: getRawBlockData
      summary: ""
      description: Get raw chain data with the block ID
      parameters:
        - name: id
          required: true
          in: path
          example: "1008663"
          description: Search id, must be block_number
          schema:
            type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RawBlockDTO"
      tags:
        - explorer
  /v1/explorer/chain/transactions:
    get:
      operationId: getTransactions
      summary: ""
      description: get the list of recent trasnactions
      parameters:
        - name: limit
          required: false
          in: query
          example: 10
          description: Transactions per page
          schema:
            type: number
        - name: page
          required: false
          in: query
          example: 0
          description: Page to show
          schema:
            type: number
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionsDTO"
      tags:
        - explorer
  "/v1/explorer/chain/transaction/{tx_hash}":
    get:
      operationId: getTransaction
      summary: ""
      description: Fetch data about a transaction on the Blockhain
      parameters:
        - name: tx_hash
          required: true
          in: path
          description: Transaction hash
          schema:
            type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionDTO"
      tags:
        - explorer
  "/v1/explorer/chain/transaction/raw/{tx_hash}":
    get:
      operationId: getRawTransactionData
      summary: ""
      description: Get raw data from the chain about a transaction by its hash
      parameters:
        - name: tx_hash
          required: true
          in: path
          description: Search id, must be tx_hash
          schema:
            type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RawTransactionDTO"
      tags:
        - explorer
  /v1/explorer/chain/stats:
    get:
      operationId: getNetworkInfo
      summary: ""
      description: Network stats for the chain
      parameters: []
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NetworkStatsDTO"
      tags:
        - explorer
  /v1/explorer/chain/emission:
    get:
      operationId: getEmission
      summary: ""
      description: Blockchain emission stats
      parameters: []
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmissionDTO"
      tags:
        - explorer
  /v1/explorer/chain/version:
    get:
      operationId: getVersion
      summary: ""
      description: Blockchain version
      parameters: []
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VersionDTO"
      tags:
        - explorer
  /v1/explorer/validate/transfer:
    get:
      operationId: proveTransfer
      parameters:
        - name: txhash
          required: true
          in: query
          schema:
            type: string
        - name: address
          required: true
          in: query
          schema:
            type: string
        - name: viewkey
          required: true
          in: query
          schema:
            type: number
        - name: txprove
          required: false
          in: query
          example: true
          schema:
            type: boolean
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProveTransferDTO"
      tags:
        - explorer
info:
  title: Lethean VPN
  description: Distributed Virtual Private Marketplace
  version: 1.0.7
  contact:
    name: Lethean VPN
    url: https://lt.hn
    email: contact@lethean.io
  license:
    name: GPLv3
    url: https://gitlab.com/lthn.io/projects/vpn/market-api/LICENCE
tags:
  - name: explorer
    description: ""
servers:
  - url: https://dvpm.io
components:
  schemas:
    TxnEntity:
      type: object
      properties:
        coinbase:
          type: boolean
        extra:
          type: string
        mixin:
          type: number
        payment_id:
          type: string
        payment_id8:
          type: string
        rct_type:
          type: number
        timestamp:
          type: number
        timestamp_utc:
          type: string
        tx_fee:
          type: number
        tx_hash:
          type: string
        tx_size:
          type: number
        tx_version:
          type: number
        xmr_inputs:
          type: number
        xmr_outputs:
          type: number
      required:
        - coinbase
        - extra
        - mixin
        - rct_type
        - timestamp
        - timestamp_utc
        - tx_fee
        - tx_hash
        - tx_size
        - tx_version
        - xmr_inputs
        - xmr_outputs
    MempoolEntity:
      type: object
      properties:
        limit:
          type: number
        page:
          type: number
        total_page_no:
          type: number
        txs:
          type: array
          items:
            $ref: "#/components/schemas/TxnEntity"
        txs_no:
          type: number
      required:
        - limit
        - page
        - total_page_no
        - txs_no
    MempoolDTO:
      type: object
      properties:
        status:
          type: string
          enum:
            - success
            - fail
        data:
          description: payload data
          allOf:
            - $ref: "#/components/schemas/MempoolEntity"
      required:
        - status
        - data
    MixinEntity:
      type: object
      properties:
        block_no:
          type: number
        public_key:
          type: string
      required:
        - block_no
        - public_key
    InputsEntity:
      type: object
      properties:
        amount:
          type: number
        key_image:
          type: string
        mixins:
          type: array
          items:
            $ref: "#/components/schemas/MixinEntity"
      required:
        - amount
        - key_image
        - mixins
    OutputEntity:
      type: object
      properties:
        amount:
          type: number
        public_key:
          type: string
      required:
        - amount
        - public_key
    SearchEntity:
      type: object
      properties:
        block_height:
          type: number
        coinbase:
          type: boolean
        confirmations:
          type: number
        current_height:
          type: number
        extra:
          type: string
        inputs:
          type: array
          items:
            $ref: "#/components/schemas/InputsEntity"
        mixin:
          type: number
        outputs:
          type: array
          items:
            $ref: "#/components/schemas/OutputEntity"
        payment_id:
          type: string
        payment_id8:
          type: string
        rct_type:
          type: number
        timestamp:
          type: number
        timestamp_utc:
          type: string
        title:
          type: string
        tx_fee:
          type: number
        tx_hash:
          type: string
        tx_size:
          type: number
        tx_version:
          type: number
        xmr_inputs:
          type: number
        xmr_outputs:
          type: number
      required:
        - block_height
        - coinbase
        - confirmations
        - current_height
        - extra
        - inputs
        - mixin
        - outputs
        - rct_type
        - timestamp
        - timestamp_utc
        - title
        - tx_fee
        - tx_hash
        - tx_size
        - tx_version
        - xmr_inputs
        - xmr_outputs
    SearchDTO:
      type: object
      properties:
        status:
          type: string
          enum:
            - success
            - fail
        data:
          description: payload data
          allOf:
            - $ref: "#/components/schemas/SearchEntity"
      required:
        - status
        - data
    BlockEntity:
      type: object
      properties:
        block_height:
          type: number
        current_height:
          type: number
        hash:
          type: string
        size:
          type: number
        timestamp:
          type: number
        timestamp_utc:
          type: string
        txs:
          type: array
          items:
            $ref: "#/components/schemas/TxnEntity"
      required:
        - block_height
        - current_height
        - hash
        - size
        - timestamp
        - timestamp_utc
        - txs
    BlockDTO:
      type: object
      properties:
        status:
          type: string
          enum:
            - success
            - fail
        data:
          description: payload data
          allOf:
            - $ref: "#/components/schemas/BlockEntity"
      required:
        - status
        - data
    BlockOutputsEntity:
      type: object
      properties:
        amount:
          type: number
        block_no:
          type: number
        in_mempool:
          type: boolean
        output_idx:
          type: number
        output_pubkey:
          type: string
        payment_id:
          type: string
        tx_hash:
          type: string
      required:
        - amount
        - block_no
        - in_mempool
        - output_idx
        - output_pubkey
        - tx_hash
    BlockOutputEntity:
      type: object
      properties:
        address:
          type: string
        height:
          type: number
        limit:
          type: number
        mempool:
          type: boolean
        outputs:
          type: array
          items:
            $ref: "#/components/schemas/BlockOutputsEntity"
        viewkey:
          type: string
      required:
        - address
        - height
        - limit
        - mempool
        - outputs
        - viewkey
    BlockOutputsDTO:
      type: object
      properties:
        status:
          type: string
          enum:
            - success
            - fail
        data:
          description: payload data
          allOf:
            - $ref: "#/components/schemas/BlockOutputEntity"
      required:
        - status
        - data
    RctSigEntity:
      type: object
      properties:
        type:
          type: number
      required:
        - type
    RawBlockMinerVinGen:
      type: object
      properties:
        height:
          type: number
      required:
        - height
    RawBlockMinerVin:
      type: object
      properties:
        gen:
          $ref: "#/components/schemas/RawBlockMinerVinGen"
      required:
        - gen
    VoutTarget:
      type: object
      properties:
        key:
          type: string
      required:
        - key
    RawBlockMinerVout:
      type: object
      properties:
        amount:
          type: number
        target:
          $ref: "#/components/schemas/VoutTarget"
      required:
        - amount
        - target
    RawBlockMinerTx:
      type: object
      properties:
        extra:
          type: array
          items:
            type: number
        rct_signatures:
          $ref: "#/components/schemas/RctSigEntity"
        unlock_time:
          type: number
        version:
          type: number
        vin:
          type: array
          items:
            $ref: "#/components/schemas/RawBlockMinerVin"
        vout:
          type: array
          items:
            $ref: "#/components/schemas/RawBlockMinerVout"
      required:
        - extra
        - rct_signatures
        - unlock_time
        - version
    RawBlockEntity:
      type: object
      properties:
        major_version:
          type: number
        miner_tx:
          $ref: "#/components/schemas/RawBlockMinerTx"
        minor_version:
          type: number
        nonce:
          type: number
        prev_id:
          type: string
        timestamp:
          type: number
        tx_hashes:
          type: array
          items:
            type: string
      required:
        - major_version
        - miner_tx
        - minor_version
        - nonce
        - prev_id
        - timestamp
        - tx_hashes
    RawBlockDTO:
      type: object
      properties:
        status:
          type: string
          enum:
            - success
            - fail
        data:
          description: payload data
          allOf:
            - $ref: "#/components/schemas/RawBlockEntity"
      required:
        - status
        - data
    TransactionBlock:
      type: object
      properties:
        age:
          type: string
        hash:
          type: string
        height:
          type: number
        size:
          type: number
        timestamp:
          type: number
        timestamp_utc:
          type: string
        txs:
          type: array
          items:
            $ref: "#/components/schemas/TxnEntity"
      required:
        - age
        - hash
        - height
        - size
        - timestamp
        - timestamp_utc
        - txs
    TransactionsEntity:
      type: object
      properties:
        blocks:
          type: array
          items:
            $ref: "#/components/schemas/TransactionBlock"
        current_height:
          type: number
        limit:
          type: number
        page:
          type: number
        total_page_no:
          type: number
      required:
        - blocks
        - current_height
        - limit
        - page
        - total_page_no
    TransactionsDTO:
      type: object
      properties:
        status:
          type: string
          enum:
            - success
            - fail
        data:
          description: payload data
          allOf:
            - $ref: "#/components/schemas/TransactionsEntity"
      required:
        - status
        - data
    TransactionEntity:
      type: object
      properties:
        block_height:
          type: number
        coinbase:
          type: boolean
        confirmations:
          type: number
        current_height:
          type: number
        extra:
          type: string
        inputs:
          type: array
          items:
            $ref: "#/components/schemas/InputsEntity"
        outputs:
          type: array
          items:
            $ref: "#/components/schemas/OutputEntity"
      required:
        - block_height
        - coinbase
        - confirmations
        - current_height
        - extra
        - inputs
        - outputs
    TransactionDTO:
      type: object
      properties:
        status:
          type: string
          enum:
            - success
            - fail
        data:
          description: payload data
          allOf:
            - $ref: "#/components/schemas/TransactionEntity"
      required:
        - status
        - data
    ecdhInfo:
      type: object
      properties:
        amount:
          type: string
        mask:
          type: string
      required:
        - amount
        - mask
    RawTransactionRctSignature:
      type: object
      properties:
        ecdhInfo:
          type: array
          items:
            $ref: "#/components/schemas/ecdhInfo"
        outPk:
          type: array
          items:
            type: string
        pseudoOuts:
          type: array
          items:
            type: string
        txnFee:
          type: number
        type:
          type: number
      required:
        - ecdhInfo
        - outPk
        - pseudoOuts
        - txnFee
        - type
    MgsEntity:
      type: object
      properties:
        cc:
          type: string
        ss:
          type: array
          items:
            type: string
      required:
        - cc
        - ss
    RangeSigsEntity:
      type: object
      properties:
        Ci:
          type: string
        asig:
          type: string
      required:
        - Ci
        - asig
    RctSigPrunable:
      type: object
      properties:
        MGs:
          type: array
          items:
            $ref: "#/components/schemas/MgsEntity"
        rangeSigs:
          type: array
          items:
            $ref: "#/components/schemas/RangeSigsEntity"
      required:
        - MGs
        - rangeSigs
    RawTransactionEntityVinKey:
      type: object
      properties:
        amount:
          type: number
        k_image:
          type: string
        key_offsets:
          type: array
          items:
            type: number
      required:
        - amount
        - k_image
        - key_offsets
    RawTransactionEntityVin:
      type: object
      properties:
        key:
          $ref: "#/components/schemas/RawTransactionEntityVinKey"
      required:
        - key
    RawTransactionEntityVoutTarget:
      type: object
      properties:
        key:
          type: string
      required:
        - key
    RawTransactionEntityVout:
      type: object
      properties:
        amount:
          type: number
        target:
          $ref: "#/components/schemas/RawTransactionEntityVoutTarget"
      required:
        - amount
        - target
    RawTransactionEntity:
      type: object
      properties:
        extra:
          type: array
          items:
            type: string
        rct_signatures:
          $ref: "#/components/schemas/RawTransactionRctSignature"
        rctsig_prunable:
          $ref: "#/components/schemas/RctSigPrunable"
        unlock_time:
          type: number
        version:
          type: number
        vin:
          type: array
          items:
            $ref: "#/components/schemas/RawTransactionEntityVin"
        vout:
          type: array
          items:
            $ref: "#/components/schemas/RawTransactionEntityVout"
      required:
        - extra
        - rct_signatures
        - rctsig_prunable
        - unlock_time
        - version
        - vin
        - vout
    RawTransactionDTO:
      type: object
      properties:
        status:
          type: string
          enum:
            - success
            - fail
        data:
          description: payload data
          allOf:
            - $ref: "#/components/schemas/RawTransactionEntity"
      required:
        - status
        - data
    NetworkStatsEntity:
      type: object
      properties:
        alt_blocks_count:
          type: number
        block_size_limit:
          type: number
        cumulative_difficulty:
          type: number
        current:
          type: boolean
        difficulty:
          type: number
        fee_per_kb:
          type: number
        grey_peerlist_size:
          type: number
        hash_rate:
          type: number
        height:
          type: number
        incoming_connections_count:
          type: number
        outgoing_connections_count:
          type: number
        start_time:
          type: number
        status:
          type: boolean
        target:
          type: number
        target_height:
          type: number
        testnet:
          type: boolean
        top_block_hash:
          type: string
        tx_count:
          type: number
        tx_pool_size:
          type: number
        tx_pool_size_kbytes:
          type: number
        white_peerlist_size:
          type: number
      required:
        - alt_blocks_count
        - block_size_limit
        - cumulative_difficulty
        - current
        - difficulty
        - fee_per_kb
        - grey_peerlist_size
        - hash_rate
        - height
        - incoming_connections_count
        - outgoing_connections_count
        - start_time
        - status
        - target
        - target_height
        - testnet
        - top_block_hash
        - tx_count
        - tx_pool_size
        - tx_pool_size_kbytes
        - white_peerlist_size
    NetworkStatsDTO:
      type: object
      properties:
        status:
          type: string
          enum:
            - success
            - fail
        data:
          description: payload data
          allOf:
            - $ref: "#/components/schemas/NetworkStatsEntity"
      required:
        - status
        - data
    EmissionEntity:
      type: object
      properties:
        blk_no:
          type: number
        coinbase:
          type: number
        fee:
          type: number
      required:
        - blk_no
        - coinbase
        - fee
    EmissionDTO:
      type: object
      properties:
        status:
          type: string
          enum:
            - success
            - fail
        data:
          description: payload data
          allOf:
            - $ref: "#/components/schemas/EmissionEntity"
      required:
        - status
        - data
    VersionEntity:
      type: object
      properties:
        api:
          type: number
        blockchain_height:
          type: number
        git_branch_name:
          type: string
        last_git_commit_date:
          type: string
        last_git_commit_hash:
          type: string
        monero_version_full:
          type: string
      required:
        - api
        - blockchain_height
        - git_branch_name
        - last_git_commit_date
        - last_git_commit_hash
        - monero_version_full
    VersionDTO:
      type: object
      properties:
        status:
          type: string
          enum:
            - success
            - fail
        data:
          description: payload data
          allOf:
            - $ref: "#/components/schemas/VersionEntity"
      required:
        - status
        - data
    ProveTransferOutputsEntity:
      type: object
      properties:
        amount:
          type: number
        match:
          type: boolean
        output_idx:
          type: number
        output_pubkey:
          type: string
      required:
        - amount
        - match
        - output_idx
        - output_pubkey
    ProveTransferEntity:
      type: object
      properties:
        address:
          type: string
        outputs:
          type: array
          items:
            $ref: "#/components/schemas/ProveTransferOutputsEntity"
        tx_hash:
          type: string
        tx_prove:
          type: boolean
        viewkey:
          type: string
      required:
        - address
        - outputs
        - tx_hash
        - tx_prove
        - viewkey
    ProveTransferDTO:
      type: object
      properties:
        status:
          type: string
          enum:
            - success
            - fail
        data:
          description: payload data
          allOf:
            - $ref: "#/components/schemas/ProveTransferEntity"
      required:
        - status
        - data
